.jumbotron {
    margin-top: 150px;
    margin-bottom: 50px;
    width: 100vw;
    font-family: 'Goldman', cursive;
    text-align: center;
}

h1 {
    margin: 10px;
    font-size: 45px;
}

h2 {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
}